<table class="table table-responsive-sm inquiry-table">
  <tbody>
  <%- objects.each do |object| %>
    <tr>
      <td class="badge-col">
        <% if object.is_supported %>
          <span class="badge-success badge"><i class="fas fa-check"></i></span>
        <% else %>
          <span class="badge-danger badge"><i class="fas fa-exclamation-triangle"></i></span>
        <%- end %>
      </td>
      <td><%= sprintf '%08d', object.id %></td>
    </tr>
    <tr>
      <td><%= object.name %> 様</td>
      <td><%= object.created_at.strftime('%Y/%m/%d %H:%M') %></td>
    </tr>
    <tr>
      <td colspan="3" align="right">
        <a class="btn-primary btn edit-btn" href="<%= edit_admin_inquiry_path(object) %>"><i class="fas fa-info-circle"></i>
          詳細</a>
      </td>
    </tr>
  <%- end %>
  </tbody>
</table>
