<%- content_for :title do %>
  店舗管理
<%- end %>
<% content_for :breadcrumb do %>
  <% items = [
      {url: '/admin', title: 'ホーム'},
      {title: 'お問い合わせ一覧'}
  ]
  %>
  <%= render partial: 'layouts/breadcrumb', locals: {items: items} %>
<% end %>
<%= render partial: 'base/search_script', locals: {page: params[:page] || 1} %>
<div class="container base">
  <div>
    <div class="row">

      <div class="col-sm-12 ">

        <h1 class="func-title">お問い合わせ管理</h1>

        <%= render partial: 'search_box' %>

        <div class="card">
          <div class="card-header">
            <strong><i class="fas fa-mail-bulk"></i>　お問い合わせ一覧</strong>
          </div>
          <div class="card-body">
            <div class="row mt-10">
              <div class="col-sm-12">
                <div id="content-body"></div>
                <div id="pagination" class="clear"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
