<div class="container-fluid base">
  <div>
    <div class="error-page">
      <h1 class="error-code">500</h1>
      <p class="description">サーバーエラーが発生しました。しばらくしてから再度アクセスしてください。</p>
      <p class="description">
        <small>An error occurred on the server. Please try again later.</small>
      </p>
      <a href="/" class="moreBtn"><span><i class="fa fa-chevron-circle-right"></i>　TOPへ戻る</span></a>
    </div>
  </div>
</div>