<div class="container-fluid base">
  <div>
    <div class="error-page">
      <h1 class="error-code">404</h1>
      <p class="description">お探しのページは見つかりませんでした</p>
      <p class="description">
        <small>Sorry, the page you're looking for cannot be found</small>
      </p>
      <a href="/" class="moreBtn"><span><i class="fa fa-chevron-circle-right"></i>　TOPへ戻る</span></a>
    </div>
  </div>
</div>