<div class="col-sm-4">
  <div class="form-group">
    <label for="<$$= column[:name] $$>"><$$= column[:label] $$></label>
    <input type="text" class="form-control" id="<$$= column[:name] $$>" name="<$$= column[:name] $$>" value="<$$= params[:<%= column[:name] %>] $$>"/>
   </div>
</div>
