@charset "UTF-8";

body {
    overflow-x: hidden;
}

div#mfp_hidden {
    overflow: hidden;
    width: 1px;
    height: 1px;
    padding: 0px;
    margin: 0px;
}

div#mfp_hidden input {
    margin: 10px;
}

div.mfp_thanks {
    padding: 30px;
}

div.mfp_thanks p {
    line-height: 1.7em;
}

div.mfp_thanks ul.mfp_caution {
    margin: 0px;
    padding: 0px;
}

div.mfp_thanks ul.mfp_caution li {
    display: block;
    color: #C00;
    margin: 0px;
    padding: 5px 0px;
}

div#mfp_thanks {
    text-align: center;
    font-size: 18px;
    padding: 20px 0px;
}

div#mfp_thanks strong {
    color: #C00;
    font-size: 24px;
}

form#mailformpro {
    padding: 10px 0px;
}

form#mailformpro dl dt {
    float: left;
    width: 160px;
    clear: both;
    font-size: 12px;
    padding: 10px 0px;
    text-align: right;
    border-top: solid 1px #CCC;
    margin: 0px;
}

form#mailformpro dl dd {
    border-top: solid 1px #CCC;
    margin: 0px;
    padding: 10px 5px 20px 170px;
    font-size: 12px;
    line-height: 1.5em;
    text-align: left;
}

form#mailformpro dl dd ul, form#mailformpro dl dd ol {
    margin: 0px;
    padding: 0px;
}

form#mailformpro dl dd ul li, form#mailformpro dl dd ol li {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.must {
    display: block;
    background-color: #C00;
    border: solid 2px #C00;
    text-shadow: 0px 1px 2px #933;
    padding: 2px 5px;
    font-size: 10px;
    color: #FFF;
    float: left;
    margin: 0px 5px;
    border-radius: 4px;
    box-shadow: 0px 0px 5px #CCC;
    background-image: url(images/header.png);
    background-size: 100% 100%;
}

.optionally {
    display: block;
    background-color: #06C;
    border: solid 2px #06C;
    text-shadow: 0px 1px 2px #933;
    padding: 2px 5px;
    font-size: 10px;
    color: #FFF;
    float: left;
    margin: 0px 5px;
    border-radius: 4px;
    box-shadow: 0px 0px 5px #CCC;
    background-image: url(images/header.png);
    background-size: 100% 100%;
}

form#mailformpro label {
    border-radius: 3px;
    /* margin: 3px; */
    display: inline-block;
    white-space: nowrap;
}

form#mailformpro label.mfp_checked {
    padding: 3px;
    border: solid 1px #CCC;
    background-color: #E8EEF9;
    box-shadow: 0px 1px 3px #CCC inset;
}

form#mailformpro label.mfp_not_checked {
    padding: 3px;
    border: solid 1px #EEE;
}

table#mfp_confirm_table {
    border-spacing: 0px;
    border-collapse: collapse;
    width: 100%;
}

table#mfp_confirm_table tr.mfp_colored {
    background-color: #F6F7F9;
}

table#mfp_confirm_table tr.mfp_achroma {
    background-color: #FFF;
}

table#mfp_confirm_table tr th, table#mfp_confirm_table tr td {
    text-align: left;
    font-size: 12px;
    border-top: solid 1px #CCC;
    padding: 5px 10px;
}

table#mfp_confirm_table tr th {
    white-space: nowrap;
    width: 200px;
}

table#mfp_confirm_table tr td {
    line-height: 1.5em;
    word-break: break-all;
}

div#mfp_phase_confirm {
    clear: both;
}

div#mfp_phase_confirm h4 {
    font-size: 36px;
    padding: 10px 0px 0px 0px;
    text-align: center;
}

div#mfp_overlay {
    position: absolute;
    display: none;
    z-index: 10001;
}

div#mfp_overlay_inner {
    background-color: #FFF;
    padding: 15px;
    margin: 0px auto;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #000;
    width: 640px;
    max-width: 90%;
}

div#mfp_overlay_background {
    background-color: #000;
    position: absolute;
    display: none;
    z-index: 10000;
}

div#mfp_loading_screen {
    z-index: 20000;
    opacity: 0.8;
    display: none;
    background-color: #000;
    position: absolute;
}

div#mfp_loading {
    z-index: 20001;
    position: absolute;
    display: none;
    width: 40px;
    height: 40px;
    background-image: url(images/mfp_loading.gif);
}

.mfp_colored {
    background-color: #F6F7F9;
}

.mfp_achroma {
    background-color: #FFF;
}

div.mfp_err {
    clear: both;
    display: none;
    text-align: left;
    margin: 5px 0px 0px 0px;
    padding: 3px 0px 5px 17px;
    color: #F00;
    font-size: 12px;
    line-height: normal;
    background-image: url(images/mfp_error.gif);
    background-repeat: no-repeat;
    background-position: 0px 1px;
}

.mfp_parent_error {
    border: solid 2px #F00;
}

.problem {
    background-color: #FCC;
}

div#mfp_error {
    background-color: #FEE;
    border: solid 1px #F00;
    padding: 10px;
    display: none;
}

div#mfp_error p {
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    text-align: center;
}

div#mfp_error p strong {
    font-size: 18px;
    color: #F00;
}

div#mfp_warning {
    background-color: #FEE;
    border: solid 1px #F00;
    padding: 10px;
    display: none;
}

div#mfp_warning p {
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    text-align: center;
}

div#mfp_warning p strong {
    font-size: 18px;
    color: #F00;
}

div#mfp_price {
    color: #C00;
    font-size: 36px;
    padding: 10px;
    font-weight: bolder;
}

div#mfp_price span {
    color: #666;
    font-size: 12px;
    font-weight: normal;
}

button.mfp_next, button.mfp_prev {
    font-size: 18px;
    margin: 10px;
    padding: 5px 10px;
}

button.mfp_next {
    float: right;
}

button.mfp_prev {
    float: left;
}

ul#mfp_phase_stat {
    padding: 10px;
}

ul#mfp_phase_stat li {
    float: left;
    padding: 8px 15px;
    border-radius: 3px;
    margin: 5px;
    list-style: none;
    font-size: 14px;
}

ul#mfp_phase_stat li.mfp_phase_arrow {
    box-shadow: none;
    padding: 8px 5px;
}

ul#mfp_phase_stat li.mfp_active_phase {
    background-color: #E8EEF9;
    box-shadow: 0px 0px 5px #000;
}

ul#mfp_phase_stat li.mfp_inactive_phase {
    background-color: #CCC;
    color: #666;
    box-shadow: 0px 0px 5px #CCC;
}

div#mfp_shopping_cart {
    border: solid 1px #CCC;
    margin: 0px;
    padding: 0px;
}

div#mfp_shopping_cart p {
    margin: 0px;
    text-align: center;
    padding: 20px 10px;
    font-size: 12px;
    background-color: #FEE;
}

table.mfp_shoppingcart {
    border-spacing: 0px;
    border-collapse: collapse;
    width: 100%;
}

table.mfp_shoppingcart thead tr td {
    background-color: #EEE;
    border-bottom: solid 1px #CCC;
    text-align: center;
    font-size: 12px;
    padding: 5px;
}

table.mfp_shoppingcart tbody tr th, table.mfp_shoppingcart tbody tr td {
    font-size: 12px;
    padding: 5px;
    border-bottom: solid 1px #CCC;
}

table.mfp_shoppingcart tbody tr td select {
    display: block;
    margin: 0px auto;
    text-align: center;
}

table.mfp_shoppingcart tbody tr td select option {
    text-align: center;
}

table.mfp_shoppingcart tbody tr th span {
    display: block;
    font-weight: normal;
    font-size: 10px;
    color: #666;
    padding: 3px 0px;
}

table.mfp_shoppingcart tfoot tr td {
    padding: 5px;
    font-size: 16px;
    font-weight: bolder;
    color: #900;
}

td.msc_price {
    font-size: 12px;
    text-align: right;
}

div.mfp_buttons {
    clear: both;
    padding: 10px 0px;
    text-align: center;
}

div.mfp_buttons button#mfp_button_cancel {
}

.imagebutton {
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
    background: none;
}

.mfp_element_all {
    max-width: 90%;
}

.mfp_element_text,
.mfp_element_number,
.mfp_element_select-one,
.mfp_element_email,
.mfp_element_tel,
.mfp_element_textarea,
.mfp_element_date {
    /*	border: solid 1px #CCC;
        border-radius: 3px;
        box-shadow: 0px 0px 5px #CCC inset;
        padding: 3px 8px;
        margin: 2px;
        vertical-align: middle; */
}

.mfp_element_checkbox,
.mfp_element_radio {
    vertical-align: middle;
    margin: 0px 2px;
}

/* .mfp_element_submit,.mfp_element_reset,.mfp_element_button {
	border-radius: 5px;
	padding: 5px 10px;
	border: solid 1px #CCC;
	background: gradient(linear, center top, center bottom, from(#FEFEFE), to(#DEDEDE));
	background: -webkit-gradient(linear, center top, center bottom, from(#FEFEFE), to(#DEDEDE));
	background: -moz-linear-gradient(top, #FEFEFE, #DEDEDE);
	background: -ms-linear-gradient(top, #FEFEFE 0%, #DEDEDE 100%);
	text-shadow: 0px 2px 0px #FFF;
	font-size: 24px;
	cursor: pointer;
	outline: none;
}
.mfp_element_reset {
	color: #333;
}
.mfp_element_submit:hover,.mfp_element_reset:hover,.mfp_element_button:hover {
	background: gradient(linear, center top, center bottom, from(#F7F7F7), to(#7ECEF4));
	background: -webkit-gradient(linear, center top, center bottom, from(#F7F7F7), to(#7ECEF4));
	background: -moz-linear-gradient(top, #F7F7F7, #7ECEF4);
	background: -ms-linear-gradient(top, #F7F7F7 0%, #7ECEF4 100%);
	box-shadow: 0px 2px 15px #7ECEF4;
} */
input#mfp_reserve_item, input#mfp_reserve_date {
    display: none;
}

div#mfp_reserve_wrapper {
    position: relative;
    overflow: hidden;
    border: solid 1px #CCC;
}

div#mfp_reserve_inner {
    position: relative;
    padding: 0px 0px 0px 100px;
    overflow: auto;
}

div#mfp_reserve_wrapper table {
    border-spacing: 0px;
    border-collapse: collapse;
}

div#mfp_reserve_wrapper table.mfp_reserve_table_label {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;
    background-color: #FEE;
    z-index: 100;
}

div#mfp_reserve_wrapper table.mfp_reserve_table_value {
    padding: 0px 0px 0px 0px;
}

div#mfp_reserve_wrapper table.mfp_reserve_table_value tr td.mfp_reserve_active,
div#mfp_reserve_wrapper table.mfp_reserve_table_value tr td.mfp_reserve_warning {
    cursor: pointer;
}

div#mfp_reserve_wrapper table.mfp_reserve_table_value tr td.mfp_reserve_active:hover,
div#mfp_reserve_wrapper table.mfp_reserve_table_value tr td.mfp_reserve_warning:hover {
    background-color: #E8EEF9;
}

div#mfp_reserve_wrapper table.mfp_reserve_table_value tr td.mfp_reserve_current {
    background-color: #0068B7;
    color: #FFF;
}

td.mfp_reserve_disabled {
    background-color: #CCC;
}

td.mfp_reserve_warning {
    background-color: #FFC;
}

div#mfp_reserve_wrapper table tr td, div#mfp_reserve_wrapper table tr th {
    border: solid 1px #CCC;
    padding: 0px 5px;
    font-size: 12px;
    text-align: center;
    font-family: Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
    font-weight: normal;
    height: 20px;
    text-align: left;
}

td.mfp_reserve_week_0 {
    color: #F00;
    background-color: #FEE;
}

td.mfp_reserve_week_6 {
    color: #00F;
    background-color: #EEF;
}

div.mfp_ok {
    border-radius: 5px;
    background-color: #090;
    border: solid 1px #090;
    display: inline-block;
    line-height: 1.5em;
    padding: 0px 5px;
    margin: 0px 2px;
    color: #FFF;
    font-size: 10px;
    background-image: url(images/header.png);
    background-size: 100% 100%;
    display: none;
}

div.prefcodeWrapper {
    position: relative;
}

div.prefcodeResult {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 5px;
    border: solid 1px #CCC;
    background-color: #FFF;
    box-shadow: 0px 0px 5px #CCC;
    display: none;
}

div.prefcodeResult div {
    cursor: pointer;
}

div.prefcodeResult div:hover {
    background-color: #C9EBFB;
}

div.prefcodeResult div.prefcodeNext {
    background-color: #EEE;
    text-align: center;
}

div.prefLoading {
    padding: 60px 100px;
    background: url(images/mfp_zip_loading.gif) no-repeat center center;
}

.hidefield {
    height: 0px;
    overflow: hidden;
}

.showfield {
    height: auto;
    overflow: visible;
}

@media screen and (max-width: 800px) {
    form#mailformpro dl dt {
        float: none;
        width: auto;
        font-size: 12px;
        padding: 5px;
        text-align: left;
    }

    form#mailformpro dl dd {
        clear: both;
        border-top: none;
        padding: 5px 15px;
        font-size: 12px;
        line-height: 1.5em;
    }

    div.mfp_buttons button {
        font-size: 14px;
    }

    div#mfp_phase_confirm h4 {
        font-size: 18px;
    }

    ul#mfp_phase_stat {
        padding: 0px;
    }

    ul#mfp_phase_stat li {
        float: left;
        text-align: center;
        padding: 5px 0px;
        border-radius: 3px;
        margin: 5px;
        list-style: none;
        font-size: 14px;
        width: 28%;
    }

    ul#mfp_phase_stat li.mfp_phase_arrow {
        bos-shadow: none;
        display: none;
    }

    ul#mfp_phase_stat li.mfp_active_phase {
        background-color: #E8EEF9;
        box-shadow: 0px 0px 5px #000;
    }

    ul#mfp_phase_stat li.mfp_inactive_phase {
        background-color: #CCC;
        color: #666;
        box-shadow: 0px 0px 5px #CCC;
    }

    table#mfp_confirm_table tr th {
        white-space: nowrap;
        width: 100px;
    }

    div#mfp_thanks {
        text-align: center;
        font-size: 18px;
        padding: 20px 0px;
    }

    div#mfp_thanks strong {
        color: #C00;
        font-size: 24px;
        display: block;
    }
}
