$color-primary: #4c97d6;
$color-point: #F56E65;
$color-recommend: #593F62;
$color-option: #bbb;
$color-info: #0b6332;
$color-link: #1841ce;
$color-link-hover: #f6ccf;

$font-family-base: -apple-system, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$bg-dark: #2f353a;
$sidebar-bg: $bg-dark;