<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <%- if current_user && current_user.grater_than_equal_to_operator_role? %>
        <li class="nav-item" data-menu="user">
          <a class="nav-link" href="<%= admin_users_path %>">
            <i class="fas fa-users-cog"></i> ユーザー
          </a>
        </li>
        <li class="nav-item" data-menu="article">
          <a class="nav-link" href="<%= admin_articles_path %>">
            <i class="far fa-newspaper"></i> 記事管理</a>
        </li>
        <li class="nav-item" data-menu="inquiry">
          <a class="nav-link" href="<%= admin_inquiries_path %>">
            <i class="fas fa-mail-bulk"></i> お問い合わせ <% if @inquiry_num.present? && @inquiry_num > 0  %><span class="badge badge-danger badge-pill"><%= @inquiry_num%></span><% end %></a>
        </li>
    <%- end %>
    </ul>
  </nav>
</div>